/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
.overlay {
  position: absolute;
  /* Otros estilos personalizados */
}

.drag-over {
  border-color: #3b82f6; /* Azul de Tailwind */
  background-color: #e0f2fe; /* Azul claro */
}

#notification {
  z-index: 1000;
}
